@model List<TT_ECommerce.Models.EF.TbProduct>

<!-- New Product tab Area -->
<section class="section-product-tabs padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title bb-deal" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="section-detail">
                        <h2 class="bb-title">New <span>Arrivals</span></h2>
                        <p>Shop online for new arrivals and get free shipping!</p>
                    </div>
                    <div class="bb-pro-tab">
                        <ul class="bb-pro-tab-nav nav">
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#all">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#snack">Sản phẩm mới</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-minus-24">
            <div class="col">
                <div class="tab-content">
                       
                    <!-- 1st Product tab start -->
                    <div class="tab-pane fade" id="all">
                        <div class="row">
                                   @foreach (var item in Model)
                                    {
                            <div class="col-xl-3 col-md-4 col-6 mb-24 bb-product-box" data-aos="fade-up"
                                 data-aos-duration="1000" data-aos-delay="200">
                               
                                 <div class="bb-pro-box">
                              
                                    <div class="bb-pro-img">
                                        <span class="flags">
                                            <span>New</span>
                                        </span>
                                        <a href="javascript:void(0)">
                                            <div class="inner-img">
                                                    <img width="260px" height="260px" class="main-img" src="@Url.Content(item.Image)"
                                                     alt="product-1">
                                                    <img width="260px" height="260px" class="hover-img" src="@Url.Content(item.Image)"
                                                     alt="product-1">
                                            </div>
                                        </a>
                                        <ul class="bb-pro-actions">
                                            <li class="bb-btn-group">
                                                <a href="" title="Wishlist">
                                                    <i class="ri-heart-line"></i>
                                                </a>
                                            </li>
                                            <li class="bb-btn-group">
                                                <a href="" data-link-action="quickview"
                                                   title="Quick View" data-bs-toggle="modal"
                                                   data-bs-target="#">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </li>
                                            <li class="bb-btn-group">
                                                <a href="" title="Compare">
                                                    <i class="ri-repeat-line"></i>
                                                </a>
                                            </li>
                                            <li class="bb-btn-group">
                                                <a href="javascript:void(0)" title="Add To Cart">
                                                    <i class="ri-shopping-bag-4-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bb-pro-contact">
                                        <div class="bb-pro-subtitle">
                                                <a href="@Url.Action("Index", "ProductDetails", new { id = item.Id })">@item.ProductCategory.Title</a>
                                                <span class="bb-pro-rating">
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-line"></i>
                                            </span>
                                        </div>
                                        <h4 class="bb-pro-title">
                                                <a href="@Url.Action("Index", "ProductDetails", new { id = item.Id })">@item.ProductCategory.Title</a>
                                        </h4>
                                        <div class="bb-price">
                                            <div class="inner-price">
                                                <span class="new-price">@item.PriceSale</span>
                                                <span class="old-price">@item.Price</span>
                                            </div>
                                            <span class="last-items">1 sản phẩm</span>
                                        </div>
                                    </div>
                                   
                                </div>
                              
                            </div>
                            }
                        </div>
                    </div>
                    <!-- 2nd Product tab start -->
                    <div class="tab-pane fade show active" id="snack">
                        <div class="row">
                                    @foreach (var item in Model)
                                    {
                            <div class="col-xl-3 col-md-4 col-6 mb-24 bb-product-box" data-aos="fade-up"
                                 data-aos-duration="1000" data-aos-delay="200">
                               
                                <div class="bb-pro-box">
                                  
                                    <div class="bb-pro-img">
                                        <span class="flags">
                                            <span>New</span>
                                        </span>
                                        <a href="javascript:void(0)">
                                            <div class="inner-img">
                                                    <img width="260px" height="260px" class="main-img" src="@Url.Content(item.Image)"
                                                     alt="product-1">
                                                    <img width="260px" height="260px" class="hover-img" src="@Url.Content(item.Image)"
                                                     alt="product-1">
                                            </div>
                                        </a>
                                        <ul class="bb-pro-actions">
                                            <li class="bb-btn-group">
                                                <a href="" title="Wishlist">
                                                    <i class="ri-heart-line"></i>
                                                </a>
                                            </li>
                                            <li class="bb-btn-group">
                                                <a href="" data-link-action="quickview"
                                                   title="Quick View" data-bs-toggle="modal"
                                                   data-bs-target="">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </li>
                                            <li class="bb-btn-group">
                                                <a href="" title="Compare">
                                                    <i class="ri-repeat-line"></i>
                                                </a>
                                            </li>
                                            <li class="bb-btn-group">
                                                <a href="" title="Add To Cart">
                                                    <i class="ri-shopping-bag-4-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bb-pro-contact">
                                        <div class="bb-pro-subtitle">
                                                <a href="@Url.Action("Index", "ProductDetails", new { id = item.Id })">@item.ProductCategory.Title</a>
                                                <span class="bb-pro-rating">
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-line"></i>
                                            </span>
                                        </div>
                                        <h4 class="bb-pro-title">
                                                <a href="@Url.Action("Index", "ProductDetails", new { id = item.Id })">@item.ProductCategory.Title</a>

                                        </h4>
                                        <div class="bb-price">
                                            <div class="inner-price">
                                                <span class="new-price">@item.PriceSale</span>
                                                <span class="old-price">@item.Price</span>
                                            </div>
                                            <span class="last-items">1 sản phẩm</span>
                                        </div>
                                    </div>
                                    
                                </div>
                             
                            </div>
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>