@model TT_ECommerce.Models.EF.TbProduct
@{
    ViewData["Title"] = "Index";
}
<!-- Breadcrumb -->
<section class="section-breadcrumb margin-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row bb-breadcrumb-inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="bb-breadcrumb-title">Product Detail</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="bb-breadcrumb-list">
                            <li class="bb-breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li><i class="ri-arrow-right-double-fill"></i></li>
                            <li class="bb-breadcrumb-item active">Product Detail</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product page -->
<section class="section-product padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-single-pro">
                    <div class="row">
                        <div class="col-lg-5 col-12 mb-24">
                            <div class="single-pro-slider">
                                <div class="single-product-cover">
                                    <div class="single-slide zoom-image-hover">
                                        <img class="img-responsive" alt="@Model.Title" src="@Url.Content(Model.Image)">
                                    </div>
                                    <div class="single-slide zoom-image-hover">
                                        <img class="img-responsive" src="@Url.Content(Model.Image)" alt="@Model.Title">
                                    </div>
                                </div>
                                <div class="single-nav-thumb">
                                    <div class="single-slide">
                                        <img class="img-responsive" src="@Url.Content(Model.Image)" alt="@Model.Title">
                                    </div>
                                    <div class="single-slide">
                                        <img class="img-responsive" src="@Url.Content(Model.Image)" alt="@Model.Title">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 mb-24">
                            <div class="bb-single-pro-contact">
                                <div class="bb-sub-title">
                                    <h4>@Url.Content(Model.Title)</h4>
                                </div>
                                <div class="bb-single-rating">
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <span class="bb-read-review">
                                        |&nbsp;&nbsp;<a href="#bb-spt-nav-review">992 Ratings</a>
                                    </span>
                                </div>
                                <p>
                                    @Url.Content(Model.Description)
                                </p>
                                <div class="bb-single-price-wrap">
                                    <div class="bb-single-price">
                                        <div class="price">
                                            <h5>@Model.PriceSale?.ToString("C")</h5>
                                        </div>
                                        <div class="mrp">
                                            <p><span>@Model.Price.ToString("C")</span></p>
                                        </div>
                                    </div>
                                    <div class="bb-single-price">
                                        <div class="sku">
                                            <h5>SKU#: @Model.ProductCode</h5>
                                        </div>
                                        <div class="stock">
                                            <span>In stock</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="bb-single-qty">
                                    <div class="qty-plus-minus">
                                        <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                    </div>
                                    <div class="buttons">
                                        <a asp-area="" asp-controller="Cart" asp-action="Index" class="bb-btn-2">View Cart</a>
                                    </div>
                                    <ul class="bb-pro-actions">
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-heart-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="#" data-link-action="#" title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bey-single-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Product Detail
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="bb-details">
                                        <p>
                                            @Html.Raw(@Model.Detail)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
