@model IEnumerable<TT_ECommerce.Models.EF.TbOrder> // Thay đổi kiểu dữ liệu theo model của bạn

@{
    ViewData["Title"] = "Index";
    decimal totalAmount = 0;
    decimal ship = 35000;
}
 @foreach (var order in Model)
{
      var orderDetail = order.TbOrderDetails.FirstOrDefault();
    if (orderDetail != null)
    {
        totalAmount += order.TotalAmount;
    }
}
<!-- Breadcrumb ----------------------------------------------------------------------------------------------->
<section class="section-breadcrumb margin-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row bb-breadcrumb-inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="bb-breadcrumb-title">Cart</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="bb-breadcrumb-list">
                            <li class="bb-breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><i class="ri-arrow-right-double-fill"></i></li>
                            <li class="bb-breadcrumb-item active">Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart -->
<section class="section-cart padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-4 mb-24">
                <div class="bb-cart-sidebar-block" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="bb-sb-title">
                        <h3>Summary</h3>
                    </div>
                    <div class="bb-sb-blok-contact">
                        <form action="#" method="post">
                            <div class="input-box">
                                <label>Country *</label>
                                <div class="custom-select">
                                    <select>
                                        <option value="option1">Country 1</option>
                                        <option value="option2">Country 2</option>
                                        <option value="option3">Country 3</option>
                                        <option value="option4">Country 4</option>
                                        <option value="option5">Country 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box">
                                <label>State/Province *</label>
                                <div class="custom-select">
                                    <select>
                                        <option value="option1">Please Select a region, state</option>
                                        <option value="option2">Region/State 1</option>
                                        <option value="option3">Region/State 2</option>
                                        <option value="option4">Region/State 3</option>
                                        <option value="option5">Region/State 4</option>
                                        <option value="option6">Region/State 5</option>
                                        <option value="option7">Region/State 6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box">
                                <label for="Zip-code">Zip/Postal Code *</label>
                                <input type="text" placeholder="Zip/Postal Code" id="Zip-code">
                            </div>
                        </form>
                        <div class="bb-cart-summary">
                            <div class="inner-summary">
                                <ul>
                                    <li><span class="text-left">Sub-Total</span><span class="text-right">@(totalAmount.ToString("C"))</span></li>
                                    <li><span class="text-left">Delivery Charges</span><span class="text-right">35.000</span></li>
                                    <li>
                                        <span class="text-left">Coupon Discount</span>
                                        <span class="text-right"><a class="bb-coupon drop-coupon">Apply Coupon</a></span>
                                    </li>
                                    <li>
                                        <div class="coupon-down-box">
                                            <form method="post">
                                                <input class="bb-coupon" type="text" placeholder="Enter Your coupon Code" name="bb-coupon" required>
                                                <button class="bb-btn-2" type="submit">Apply</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="summary-total">
                                <ul>
                                    <li><span class="text-left">Total Amount</span><span class="text-right">@((totalAmount + ship).ToString("C"))</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mb-24">
                <div class="bb-cart-table" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>quality</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (var order in Model)
                            {
                                var orderDetail = order.TbOrderDetails.FirstOrDefault();
                                if (orderDetail != null)
                                {
                                <tr>
                                    <td>
                                        <a href="javascript:void(0)">
                                            <div class="Product-cart">
                                                <img src="assets/img/new-product/1.jpg" alt="new-product-1">
                                                    <span>@orderDetail.Product.Title</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                            <span class="price">@orderDetail.Product.Price.ToString("C0")</span>
                                    </td>
                                    <td>
                                        <div class="qty-plus-minus">
                                            <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                        </div>
                                    </td>
                                    <td>
                                            <span class="price">@(order.TotalAmount.ToString("C"))</span>
                                    </td>
                                    <td>
                                        <form asp-action="Delete" method="post">
                                            <input type="hidden" name="id" value="@orderDetail.Id" />
                                            <button type="submit" class="btn btn-black btn-sm"
                                                    onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng?');">
                                                <i class="ri-delete-bin-line"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <a asp-area="" asp-controller="Cart" asp-action="Checkout" class="bb-btn-2 check-btn" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Check Out</a>
            </div>
        </div>
    </div>
</section>
<!-- Related product -->
<section class="section-related-product padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="section-detail ">
                        <h2 class="bb-title">New <span>Arrivals</span></h2>
                        <p>Browse The Collection of Top Products.</p>
                    </div>
                    <div id="dealend" class="dealend-timer"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="bb-deal-slider">
                    <div class="bb-deal-block owl-carousel">
                        <div class="bb-deal-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class="bb-pro-box">
                                <div class="bb-pro-img">
                                    <span class="flags">
                                        <span>New</span>
                                    </span>
                                    <a href="javascript:void(0)">
                                        <div class="inner-img">
                                            <img class="main-img" src="assets/img/product/1.jpg" alt="product-1">
                                            <img class="hover-img" src="assets/img/product/back-1.jpg" alt="product-1">
                                        </div>
                                    </a>
                                    <ul class="bb-pro-actions">
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-heart-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)"
                                               data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#bry_quickview_modal">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="compare.html">
                                                <i class="ri-repeat-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-shopping-bag-4-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bb-pro-contact">
                                    <div class="bb-pro-subtitle">
                                        <a href="shop-left-sidebar-col-3.html">Chocolates</a>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                    </div>
                                    <h4 class="bb-pro-title">
                                        <a href="product-left-sidebar.html">Mixed Fruits Chocolates Pack</a>
                                    </h4>
                                    <div class="bb-price">
                                        <div class="inner-price">
                                            <span class="new-price">$25</span>
                                            <span class="old-price">$30</span>
                                        </div>
                                        <span class="last-items">1 Pack</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bb-deal-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class="bb-pro-box">
                                <div class="bb-pro-img">
                                    <span class="flags">
                                        <span>Hot</span>
                                    </span>
                                    <a href="javascript:void(0)">
                                        <div class="inner-img">
                                            <img class="main-img" src="assets/img/product/2.jpg" alt="product-2">
                                            <img class="hover-img" src="assets/img/product/back-2.jpg" alt="product-2">
                                        </div>
                                    </a>
                                    <ul class="bb-pro-actions">
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-heart-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)"
                                               data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#bry_quickview_modal">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="compare.html">
                                                <i class="ri-repeat-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-shopping-bag-4-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bb-pro-contact">
                                    <div class="bb-pro-subtitle">
                                        <a href="shop-left-sidebar-col-3.html">Juice</a>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                    </div>
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Organic Apple Juice Pack</a></h4>
                                    <div class="bb-price">
                                        <div class="inner-price">
                                            <span class="new-price">$15</span>
                                            <span class="item-left">3 Left</span>
                                        </div>
                                        <span class="last-items">100 ml</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bb-deal-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                            <div class="bb-pro-box">
                                <div class="bb-pro-img">
                                    <a href="javascript:void(0)">
                                        <div class="inner-img">
                                            <img class="main-img" src="assets/img/product/3.jpg" alt="product-3">
                                            <img class="hover-img" src="assets/img/product/back-3.jpg" alt="product-3">
                                        </div>
                                    </a>
                                    <ul class="bb-pro-actions">
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-heart-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)"
                                               data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#bry_quickview_modal">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="compare.html">
                                                <i class="ri-repeat-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-shopping-bag-4-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bb-pro-contact">
                                    <div class="bb-pro-subtitle">
                                        <a href="shop-left-sidebar-col-3.html">Juice</a>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                    </div>
                                    <h4 class="bb-pro-title">
                                        <a href="product-left-sidebar.html">Mixed Almond nuts juice Pack</a>
                                    </h4>
                                    <div class="bb-price">
                                        <div class="inner-price">
                                            <span class="new-price">$32</span>
                                            <span class="old-price">$39</span>
                                        </div>
                                        <span class="last-items">250 g</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bb-deal-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                            <div class="bb-pro-box">
                                <div class="bb-pro-img">
                                    <span class="flags">
                                        <span>Sale</span>
                                    </span>
                                    <a href="javascript:void(0)">
                                        <div class="inner-img">
                                            <img class="main-img" src="assets/img/product/4.jpg" alt="product-4">
                                            <img class="hover-img" src="assets/img/product/back-4.jpg" alt="product-4">
                                        </div>
                                    </a>
                                    <ul class="bb-pro-actions">
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-heart-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)"
                                               data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#bry_quickview_modal">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="compare.html">
                                                <i class="ri-repeat-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="javascript:void(0)">
                                                <i class="ri-shopping-bag-4-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bb-pro-contact">
                                    <div class="bb-pro-subtitle">
                                        <a href="shop-left-sidebar-col-3.html">Fruits</a>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                    </div>
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Fresh Mango Slice Juice</a></h4>
                                    <div class="bb-price">
                                        <div class="inner-price">
                                            <span class="new-price">$25</span>
                                            <span class="item-left">Out Of Stock</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

