@model TT_ECommerce.Models.EF.TbPost


<!-- Breadcrumb -->
<section class="section-breadcrumb margin-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row bb-breadcrumb-inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="bb-breadcrumb-title">Blog</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="bb-breadcrumb-list">
                            <li class="bb-breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li><i class="ri-arrow-right-double-fill"></i></li>
                            <li class="bb-breadcrumb-item active">Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog-Detail -->
<section class="section-blog-details padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-blog-details-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="inner-blog-details-image">
                        <img src="@Url.Content(Model.Image)" alt="details-one">
                    </div>
                    <div class="inner-blog-details-contact">
                        <span>@Model.CreatedBy</span>
                        <span>@Model.CreatedDate</span>
                        <h4 class="sub-title">@Model.Title</h4>
                        <p>@Html.Raw(@Model.Detail)</p>
                    </div>
                    <div class="col-12">
                        <div class="bb-pro-pagination">
                            <p>Showing 1-12 of 21 item(s)</p>
                            <ul>
                                <li class="active">
                                    <a href="javascript:void(0)">1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">2</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">3</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">4</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="next">Next <i class="ri-arrow-right-s-line"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>